
/**************************************************************************/
/*  Main Screen Foundation CSS */
/**************************************************************************/

.main_sidebar_wrapper {
    margin: 0;
    max-width: 120px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #00bcd4;
    padding: 3px;
}

.main_sidebar {
    max-width: 120px;
    padding: 10px;
    background: #00bcd4;
    position: absolute;
    top: 0;
    left: 0;
}

.main_container{
    position: relative;
}

.main_background_image_wrapper {
    margin: 0;
    padding: 1px;
    top: 0;
    left: 0;
    position: relative;
}

.main_background_text_wrapper {
    position: relative;
    color: white;
    top: 0;
    left: -120px;
    max-height: 100%;
    max-width: 100%;
}

.main_screen {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid red;
}

/*grid-template-rows: 72px 1fr; */

.main_container {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-areas: "sidebar content";
    padding: 0px;
    max-height: 100%;
    max-width: 100%;
}

.main_container-sidebar {
    grid-area: sidebar;
}

.main_container-content {
    grid-area: content;
}


/**************************************************************************/
/* Home Screen CSS */
/**************************************************************************/

.home_button_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0px;
}

.home_button_create_league {
    position: relative;
    top: 50%;
    left: 35%;
}


/**************************************************************************/
/* Standings Screen CSS */
/**************************************************************************/

.standings_screen_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0px;
    border: 1px solid white;
    top: 0;
    left: 0;
}

.standings_screen_grid_wrapper {
    position: relative;
    top: 10%;
    left: 30%;
    margin: 0;
    padding: 0px;
}

/* style for both list elements */
/*border: 3px solid red; */

.standings_screen_list_wrapper {
    position: relative;
    top: 20%;
}

.standings_screen_list_position {
    position: relative;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    background-color: #00bcd4;
}

.standings_screen_list {
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    border: 1px solid white;
    background-color: #00bcd4;
}

.standings_screen_list_element {
    color: white;
}

/**************************************************************************/
/*  Picks Screen CSS  */
/**************************************************************************/
.picks_screen_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0px;
    border: 1px solid red;
    top: 0;
    left: 0;
}


.picks_screen_buttons {
    background-color: #00bcd4;
}

.picks_screen_menu_list_dropdown {
    font-size: 8;
    background-color: white;
    padding: 4px;
    margin: 0;
}

.picks_screen_menu_list_item {
    color: white;
    padding: '4px',
}

.picks_screen_button_list {
    padding: 3px;
    margin: 1px;
    position: relative;
}

.picks_screen_grid_wrapper {
    position: relative;
    margin: 0;
    padding: 0px;
    border: 1px solid green;
    width: 100%;
    height: 100%;
}

.picks_screen_grid{
    left: 15%;
    top: 30%;
    position: absolute;
}

.picks_screen_table {
    top: 30%;
    width: 100%;
    border: 1px solid blue;
    position: absolute;
}

.picks_screen_table_row {
    position: relative;
    border: 1px solid white;
}

.picks_screen_table_item {
    position: relative;
    border: 1px solid red;
    width: 120px;
}

.picks_item_table_header {
    width: 120px;
    height: 10px;
    border: 1px solid green;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 0px;    
    font-size: 12px;
}
